<style>

  body{

    background-image: url(/assets/stereo_equalizer.jpg);
    background-position: center;
    background-size: contain;
    background-attachment: fixed;
  }

.video_info{

  padding: 10px;
  text-align:center;
  float: right;
  margin-right: 5%;

background: rgba(166,166,166,1);
background: -moz-linear-gradient(left, rgba(166,166,166,1) 0%, rgba(166,166,166,0.8) 0%, rgba(89,89,89,0.8) 12%, rgba(71,71,71,0.8) 18%, rgba(10,10,10,0.8) 33%, rgba(0,0,0,0.8) 46%, rgba(0,0,0,0.8) 58%, rgba(0,0,0,0.8) 72%, rgba(71,71,71,0.8) 85%, rgba(166,166,166,0.8) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(166,166,166,1)), color-stop(0%, rgba(166,166,166,0.8)), color-stop(12%, rgba(89,89,89,0.8)), color-stop(18%, rgba(71,71,71,0.8)), color-stop(33%, rgba(10,10,10,0.8)), color-stop(46%, rgba(0,0,0,0.8)), color-stop(58%, rgba(0,0,0,0.8)), color-stop(72%, rgba(0,0,0,0.8)), color-stop(85%, rgba(71,71,71,0.8)), color-stop(100%, rgba(166,166,166,0.8)));
background: -webkit-linear-gradient(left, rgba(166,166,166,1) 0%, rgba(166,166,166,0.8) 0%, rgba(89,89,89,0.8) 12%, rgba(71,71,71,0.8) 18%, rgba(10,10,10,0.8) 33%, rgba(0,0,0,0.8) 46%, rgba(0,0,0,0.8) 58%, rgba(0,0,0,0.8) 72%, rgba(71,71,71,0.8) 85%, rgba(166,166,166,0.8) 100%);
background: -o-linear-gradient(left, rgba(166,166,166,1) 0%, rgba(166,166,166,0.8) 0%, rgba(89,89,89,0.8) 12%, rgba(71,71,71,0.8) 18%, rgba(10,10,10,0.8) 33%, rgba(0,0,0,0.8) 46%, rgba(0,0,0,0.8) 58%, rgba(0,0,0,0.8) 72%, rgba(71,71,71,0.8) 85%, rgba(166,166,166,0.8) 100%);
background: -ms-linear-gradient(left, rgba(166,166,166,1) 0%, rgba(166,166,166,0.8) 0%, rgba(89,89,89,0.8) 12%, rgba(71,71,71,0.8) 18%, rgba(10,10,10,0.8) 33%, rgba(0,0,0,0.8) 46%, rgba(0,0,0,0.8) 58%, rgba(0,0,0,0.8) 72%, rgba(71,71,71,0.8) 85%, rgba(166,166,166,0.8) 100%);
background: linear-gradient(to right, rgba(166,166,166,1) 0%, rgba(166,166,166,0.8) 0%, rgba(89,89,89,0.8) 12%, rgba(71,71,71,0.8) 18%, rgba(10,10,10,0.8) 33%, rgba(0,0,0,0.8) 46%, rgba(0,0,0,0.8) 58%, rgba(0,0,0,0.8) 72%, rgba(71,71,71,0.8) 85%, rgba(166,166,166,0.8) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6a6a6', endColorstr='#a6a6a6', GradientType=1 );

   -webkit-box-shadow: 2px 1px 4px 3px #d1f8fa;
box-shadow: 2px 1px 4px 3px #d1f8fa;
}
  usernamehead{
    color: white;
    font-size: 22px;
    text-shadow:
       1px 1px 0 #006666,
     -1px -1px 0 #000,
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
  }

  username{
    color: black;
    font-size: 17px;
    font-weight: bold;
    line-height: 1.5;
  }

   this{
    color: white;
    font-family: "Lucida Console";
    font-size: 20px;
    text-shadow:
       1px 1px 0 #006666,
     -1px -1px 0 #000,
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
  }
  p{
    color: white;
    font-size: 16px;
    font-family: "Arial";
  }

  hr{
    color: black;
  }
  .uservids{
    float: clear;
    text-align:center;
  }

  videohead{
     text-align: center;
    color: white;
    font-size: 35px;
    text-shadow:
       2px 3px 0 #006666,
     -1px -1px 0 #000,
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
    line-height: 1.5;
  }

  .search{
    padding: 10px;
    margin-bottom: 15px;
    margin-left: 10px;
    line-height: 1.5;

    width: 25%;
    float: left;

  background: rgba(102,102,102,0.84);
background: -moz-linear-gradient(left, rgba(102,102,102,0.84) 0%, rgba(102,102,102,0.85) 0%, rgba(89,89,89,0.85) 12%, rgba(71,71,71,0.85) 18%, rgba(10,10,10,0.85) 33%, rgba(0,0,0,0.85) 46%, rgba(0,0,0,0.85) 58%, rgba(0,0,0,0.85) 72%, rgba(71,71,71,0.85) 85%, rgba(102,102,102,0.85) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(102,102,102,0.84)), color-stop(0%, rgba(102,102,102,0.85)), color-stop(12%, rgba(89,89,89,0.85)), color-stop(18%, rgba(71,71,71,0.85)), color-stop(33%, rgba(10,10,10,0.85)), color-stop(46%, rgba(0,0,0,0.85)), color-stop(58%, rgba(0,0,0,0.85)), color-stop(72%, rgba(0,0,0,0.85)), color-stop(85%, rgba(71,71,71,0.85)), color-stop(100%, rgba(102,102,102,0.85)));
background: -webkit-linear-gradient(left, rgba(102,102,102,0.84) 0%, rgba(102,102,102,0.85) 0%, rgba(89,89,89,0.85) 12%, rgba(71,71,71,0.85) 18%, rgba(10,10,10,0.85) 33%, rgba(0,0,0,0.85) 46%, rgba(0,0,0,0.85) 58%, rgba(0,0,0,0.85) 72%, rgba(71,71,71,0.85) 85%, rgba(102,102,102,0.85) 100%);
background: -o-linear-gradient(left, rgba(102,102,102,0.84) 0%, rgba(102,102,102,0.85) 0%, rgba(89,89,89,0.85) 12%, rgba(71,71,71,0.85) 18%, rgba(10,10,10,0.85) 33%, rgba(0,0,0,0.85) 46%, rgba(0,0,0,0.85) 58%, rgba(0,0,0,0.85) 72%, rgba(71,71,71,0.85) 85%, rgba(102,102,102,0.85) 100%);
background: -ms-linear-gradient(left, rgba(102,102,102,0.84) 0%, rgba(102,102,102,0.85) 0%, rgba(89,89,89,0.85) 12%, rgba(71,71,71,0.85) 18%, rgba(10,10,10,0.85) 33%, rgba(0,0,0,0.85) 46%, rgba(0,0,0,0.85) 58%, rgba(0,0,0,0.85) 72%, rgba(71,71,71,0.85) 85%, rgba(102,102,102,0.85) 100%);
background: linear-gradient(to right, rgba(102,102,102,0.84) 0%, rgba(102,102,102,0.85) 0%, rgba(89,89,89,0.85) 12%, rgba(71,71,71,0.85) 18%, rgba(10,10,10,0.85) 33%, rgba(0,0,0,0.85) 46%, rgba(0,0,0,0.85) 58%, rgba(0,0,0,0.85) 72%, rgba(71,71,71,0.85) 85%, rgba(102,102,102,0.85) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#666666', endColorstr='#666666', GradientType=1 );

   -webkit-box-shadow: 2px 1px 4px 3px #d1f8fa;
box-shadow: 2px 1px 4px 3px #d1f8fa;

  }

  boxtitle{
    text-align: center;
    color: white;
    font-size: 18px;
    text-shadow:
       2px 3px 0 #006666,
     -1px -1px 0 #000,
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
    line-height: 1.5;

  }

  .searchbutton{
    background: #ff8d1a;
  background-image: -webkit-linear-gradient(top, #ff8d1a, #e67300);
  background-image: -moz-linear-gradient(top, #ff8d1a, #e67300);
  background-image: -ms-linear-gradient(top, #ff8d1a, #e67300);
  background-image: -o-linear-gradient(top, #ff8d1a, #e67300);
  background-image: linear-gradient(to bottom, #ff8d1a, #e67300);
  -webkit-border-radius: 9;
  -moz-border-radius: 9;
  border-radius: 9px;
  text-shadow: 1px 1px 3px #000000;
  font-family: Arial;
  color: #ffffff;
  font-size: 16px;
  padding: 7px 40px 7px 40px;
  border: solid #ffffff 2px;
  text-decoration: none;
  }

  .searchbutton:hover{
    background: #e67300;
  background-image: -webkit-linear-gradient(top, #e67300, #ff8d1a);
  background-image: -moz-linear-gradient(top, #e67300, #ff8d1a);
  background-image: -ms-linear-gradient(top, #e67300, #ff8d1a);
  background-image: -o-linear-gradient(top, #e67300, #ff8d1a);
  background-image: linear-gradient(to bottom, #e67300, #ff8d1a);
  text-decoration: none;
  }

</style>

<% provide(:title, 'Search Videos') %>
<body>

<div class="backbox">
<div class="row">

<section class="search">
    <%= form_tag(videos_path, :method => "get", id: "search-form") do %>
        <boxtitle text-align="center"> Search Here </boxtitle>
    <%= text_field_tag :search, params[:search], placeholder: "Search Videos" %>
  <%= submit_tag "Search", class: "searchbutton" %>
    <% end %>
</section>


<section class="video_info" style="text-align:center;" >
   <div class="uservids"  >
        <videohead> Search Videos </videohead>
        <% if @videos.present? %>
            <ol class="videos">
        <%= render @videos %>
            </ol>
        <% else %>
        <p>There are no videos containing the term(s) <%= params[:search] %>.</p>
        <% end %>
     </div>
      </section>
    </div>
  </div>
</body>